body {
  display: flex;
  justify-content: center;
  padding: 0 10px 10px 0;
}

input {
  width: 100%;
  margin-bottom: 50px;
}
.btn-primary {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  font-size: 20px;
}
.btn-danger {
  float: right;
  margin: 5px;
}
li {
  margin-bottom: 10px;
}
