input {
  max-width: 100%;
}
.btn-primary {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-danger {
  float: right;
  margin: 5px;
}
li {
  margin-bottom: 10px;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
input {
  max-width: 70%;
}
